.header {
	height: 100vh;
	background-image: linear-gradient(
			to bottom,
			rgba($color-black, 0.85),
			rgba($color-black, 0.85)
		),
		url(../assets/bg-1.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
}
