// Colors
// ==================

$color-primary: #d63031;
$color-secondary: #e84393;

$dark-text-1: #2d3436;
$dark-text-2: #636464;

$light-text: #d8cdcd;
$light-text-2: #e5e5e5;
$light-text-3: #f1f1f1;

$color-divider: #fcf7f7;

$color-white: #fff;
$color-black: #000;

// Container
// =================
$container-width: 114rem;

// Grid
// =================
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
